.button {
	border-radius: var(--border-radius);
	border: none;
	padding: 8px 30px;
	font-family: inherit;
	font-size: var(--font-size);
	cursor: pointer;
	transition: background 0.25s;
	color: var(--white-color);
}

.accent:hover {
	background: var(--primary-hover-color);
}

.accent {
	background: var(--primary-color);
}