.link {
    text-decoration: none;
    color: inherit;
}

.product-card-container {
    background: white;
    border-radius: 19px;
    box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);
    width: 320px;
}

.head {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
}

.price {
    position: absolute;
    left: 15px;
    top: 15px;

    background-color: var(--white-color);
    padding: 2px 10px;
    border-radius: 20px;

    color: #111719;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.currency {
    color: var(--primary-color);
}

.rating {
    position: absolute;
    bottom: -10px;
    left: 15px;
    border-radius: 16px;
    background-color: var(--white-color);
    box-shadow: 0px 6px 24px 0px rgba(254, 114, 76, 0.20);
    padding: 3px 8px;

    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    position: absolute;
    top: 12px;
    right: 15px;
    height: 34px;
    width: 34px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 2px var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-hover-color);
}

.footer {
    padding: 12px;
}

.product-title {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product-desc {
    color: var(--test-secondary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}