.input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    background-color: #fcfcfd;
    border: 1px solid #efefef;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 15px 20px 45px 0px rgba(233,233,233,0.25);
    padding: 16px 30px 16px 44px;
    min-width: 256px;
}

.search-icon {
    position: absolute;
    left: 17px;
    top: 17px;
}

.search-wrapper {
    position: relative;
}