:root {
  --border-radius: 6px;
  --font-size: 16px;
  --text-wite: #ffffffe0;

  --primary-color: #FE724C;
  --primary-hover-color: #db502a;
  --text-secondary-color: #5B5B5E;
  --white-color: #FFF;
  --text-color: #000;
  --separator-color: #D4D6E0;

  --font: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}