:root {
  --border-radius: 6px;

  --primary-color: #FE724C;
  --primary-hover-color: #db502a;
  --separator-color: #D4D6E0;
  --white-color: #FFF;

  --font: 'Open Sans', sans-serif;
  --font-size: 16px;
  
  --text-wite: #ffffffe0;
  --text-secondary-color: #5B5B5E;
  --text-color: #000;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}